* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

img {
    width: 100px;
    height: 150px;
    margin-left: 5px;
    transition: all ease-in 300ms;
}

.front-card img {
    width: 70px;
    height: 100px;
}

.view-hidden {
    visibility: hidden;
    opacity: 0;
    transition: all ease-in 300ms;
}

.view-none {
    display: none;
}

.matched {
    cursor: default !important;
}

.btn-reset {
    width: 100px;
    padding: 10px;
    background-color: indigo;
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 30px;
    cursor: pointer;
    border: 2px solid indigo;
}

.btn-reset:hover {
    background-color: white;
    color: indigo;
}

.btn-reset:active {
    background-color: rgba(75, 0, 130, 0.1);
}

/*  */

.cards {
    cursor: pointer;
    height: 200px;
    transition: all ease-in 300ms;
}

.flip {
    transition: all ease-in 300ms;
    transform: rotate(180deg);
} 

/* start styling */
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 200px;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    /* These are used in js to shuffle */
    grid-template-areas: 
    'c1 c2 c3'
    'c4 c5 c6';
}

.cards {
    position: relative;
    transition: all ease-in 500ms;
}

.front-card {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    z-index: -1;
}

.back-card {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    z-index: 1;
}

.score-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.score {
    text-align: center;
    font-size: 42px;
}