* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

img {
    width: 100px;
    height: 150px;
    margin-left: 5px;
    transition: all ease-in 300ms;
}

.front-card img {
    width: 70px;
    height: 100px;
}

.view-hidden {
    visibility: hidden;
    opacity: 0;
}

.view-none {
    display: none;
}

.matched {
    cursor: default !important;
}

/*  */

.cards {
    cursor: pointer;
    height: 200px;
}

.flip {
    transition: all ease-in 300ms;
    transform: rotate(180deg);
} 

/* start styling */
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 200px;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.cards {
    position: relative;
    transition: all ease-in 500ms;
}

.front-card {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    z-index: -1;
}

.back-card {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
    z-index: 1;
}

.score-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.score {
    text-align: center;
    font-size: 42px;
}